# Large Language Model (LLM) related packages
openai
anthropic
transformers
diffusers
torch
torchvision
torchaudio
accelerate
bitsandbytes

# datasets from huggingface
datasets

# User interface frameworks
streamlit

# Environment and API key management
python-dotenv

# Jupyter notebook related libraries
ipykernel
ipywidgets
# Agno and Tavily
tavily-python
